<div class="container py-3">
  <div class="row justify-content-between">
    <div class="col-lg-4 col-md-12">
      <div class="shadow p-3 mb-5 bg-white sticky-top" style="border-radius: 12px; top: 20px;">
        <h4><%= @user_name %></h4>
        <div class="user-confidentials">
          <div data-controller="confidentials">
            <label for="email">Email</label>
            <div class="confidential-box">
              <input data-confidentials-target="input" type="password" name="email" id="email" value=<%= @user.email %> disabled>            
              <span data-action="click->confidentials#eyeToggle">
                <i class="fa-solid fa-eye-slash"></i>
              </span>
            </div>
            <span data-action="click->confidentials#clipboardCopy">
              <i class="fa-solid fa-clipboard"></i>
            </span>
          </div>
          <div data-controller="confidentials">
            <label for="api_key">Api Key</label>
            <div class="confidential-box">
              <input data-confidentials-target="input" type="password" name="api_key" id="api-key" value=<%= @user.authentication_token %> disabled>
              <span data-action="click->confidentials#eyeToggle">
                <i class="fa-solid fa-eye-slash"></i>
              </span>
            </div>
            <span data-action="click->confidentials#clipboardCopy">
              <i class="fa-solid fa-clipboard"></i>
            </span>
          </div>
          <%= link_to "Reset Api Key", reset_api_path, method: :post, remote: true, class: "btn btn-sm btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-12 border shadow p-3 mb-5 bg-white" style="border-radius: 12px;">
      <div>
        <h3 style="color: gray;">Blogs</h3>
        <div class="fetch-code p-3 bg-light rounded">
          <code>
            fetch('https://www.dynamism.com/blogs', {<br>
              &#160;referrerPolicy: 'origin-when-cross-origin',<br>
              &#160;headers: {<br>
                &#160; 'Content-Type': 'application/json',<br>
                &#160; 'X-User-Email': < EMAIL >, <br>
                &#160; 'X-User-Token': < API_KEY >, <br> 
              &#160;}<br>
            }).then(response => response.json())<br>
            .then(data => console.log(data))<br>  
          </code>
        </div>
      </div>
    </div>
  </div>
</div>  
