<div class="container">
  <div class="">
    <%= link_to "new album", new_album_path, class: "btn btn-sm btn-block btn-primary" %>
  </div>

  
  <% @albums&.each do |album| %>
    <div class="container p-3 m-2">
      <h3><%= album.title %></h3>
      <% album.albumPhotos.each do |albumPhoto| %>
         <%= albumPhoto.photo %>
        <%= image_tag albumPhoto.image_url, height: "200px", alt: "image" %>        
      <% end %>
      
    </div>    
  <% end %>
  


</div>