<p>Welcome <%= @email %>!</p>
<p>to Dynamism Family.</p>

<p>We hope to be helpful for business and for you.</p>
<br>
<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<br>
<em>Your Sincerly,</em>
<p>Babin Bohora</p>